* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1a1a1a;
}

/* Set text color */
body, h1, h2, h3 {
  color: #fff;
}

/* Style the heading */
h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Style the decoder section */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
}

/* Style the decoder text section */
.decoder {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.decoder h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.decoder h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.decoder input[type="text"] {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #333;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
}

.decoder button {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #33aaff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
